---
layout: archive
title: "MRes Opportunities with Dr Matt Geary at the University of Chester"
permalink: /MRes/
author_profile: true
---

During the next academic year I have several research opportunities for
students who would be interested in undertaking a masters by research
degree programme.

<br>


Our MRes programme falls under the umbrella title of <a href = 'https://www1.chester.ac.uk/biological-sciences/postgraduate-study'>MRes in Biological
Sciences</a>. The
course consists of two taught modules completed in the first term
followed by extended research project for the rest of the course.
Students are expected to have contacted a potential supervisor and
agreed this project prior to applying for the course. The tuition fees
currently stand at £4327 for the MRes programme. The successful
applicant would also be responsible for their accommodation and living
costs. Assistance will be provided with fieldwork and equipment costs where possible. For more information about MRes projects with me, please get in touch via email (<M.Geary@Chester.ac.uk>). 

<br>

{% include base_path %}

{% for post in site.MRes %}
  {% include archive-single.html %}
{% endfor %}

<br>

Please see the individual projectpages for more information



